<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <nexio>
                <model>NexioFacade</model>
                <title>Credit Card (Nexio)</title>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <is_test>1</is_test>
                <test_endpoint>https://api.nexiopaysandbox.com</test_endpoint>
                <endpoint>https://api.nexiopay.com</endpoint>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <cctypes>AE,VI,MC,DI</cctypes>
                <custom_css></custom_css>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
                <order_status>processing</order_status>
                <merchant_id></merchant_id>
                <customer_textfile></customer_textfile>
                <fraud_check>0</fraud_check>
                <require_cvc>1</require_cvc>
                <hide_cvc>0</hide_cvc>
                <hide_billing>0</hide_billing>
                <auth_only>0</auth_only>
                <verify_signature>1</verify_signature>
            </nexio>
            <nexio_vault>
                <active>1</active>
                <model>NexioCreditCardVaultFacade</model>
                <title>Stored Cards (Nexio)</title>
                <payment_action>authorize_capture</payment_action>
            </nexio_vault>
        </payment>
    </default>
</config>

