<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nexio\Payment\Webapi\WebhookInterface"
                type="Nexio\Payment\Model\Webhook" />
    <!-- Facade -->
    <virtualType name="NexioFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Nexio\Payment\Block\Info</argument>
            <argument name="code" xsi:type="const">Nexio\Payment\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">NexioValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">NexioValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">NexioCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioCreditCardVaultFacade" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">NexioVaultPaymentConfig</argument>
            <argument name="valueHandlerPool" xsi:type="object">NexioVaultPaymentValueHandlerPool</argument>
            <argument name="vaultProvider" xsi:type="object">NexioFacade</argument>
            <argument name="code" xsi:type="const">Nexio\Payment\Model\Ui\ConfigProvider::CC_VAULT_CODE</argument>
        </arguments>
    </virtualType>
    <!-- End Facade -->

    <!-- Command Pool -->
    <virtualType name="NexioCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <!--<item name="authorize" xsi:type="string">NexioAuthorizeCommand</item>-->
                <item name="capture" xsi:type="string">NexioCaptureCommand</item>
                <!--<item name="refund" xsi:type="string">NexioRefundCommand</item>
                <item name="vault_capture" xsi:type="string">NexioCaptureCommand</item>-->
                <item name="get_one_time_use_token" xsi:type="string">NexioGetOneTimeUseTokenCommand</item>
                <!--<item name="get_jwt" xsi:type="string">NexioGetJWTCommand</item>-->
            </argument>
        </arguments>
    </virtualType>
    <!-- End Command Pool -->

    <!-- NexioFacade Configs-->
    <virtualType name="NexioConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">nexio</argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">NexioConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">NexioConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">NexioCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">NexioConfig</argument>
        </arguments>
    </virtualType>
    <!-- End NexioFacade Configs-->

    <!-- NexioVaultFacade Configs -->
    <virtualType name="NexioVaultPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Nexio\Payment\Model\Ui\ConfigProvider::CC_VAULT_CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioVaultPaymentValueHandlerPool" type="VaultPaymentValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">NexioVaultPaymentValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioVaultPaymentValueHandler" type="VaultPaymentDefaultValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">NexioVaultPaymentConfig</argument>
        </arguments>
    </virtualType>
    <!-- End NexioVaultFacade Configs -->

    <!-- Config Gateway-->
    <type name="Nexio\Payment\Gateway\Config\IsVaultEnabled">
        <arguments>
            <argument name="config" xsi:type="object">NexioVaultPaymentConfig</argument>
            <argument name="key" xsi:type="string">active</argument>
        </arguments>
    </type>
    <!-- End Config Gateway-->

    <!-- Handlers -->
    <virtualType name="NexioTransactionHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_details" xsi:type="string">Nexio\Payment\Gateway\Response\PaymentDetailsHandler</item>
                <!--<item name="vault_details" xsi:type="string">Nexio\Payment\Gateway\Response\VaultDetailsHandler</item>-->
            </argument>
        </arguments>
    </virtualType>
    <!--<virtualType name="NexioRefundHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_details" xsi:type="string">Nexio\Payment\Gateway\Response\Refund\PaymentDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>-->
    <!-- End Handlers -->

    <!-- Commands -->
    <virtualType name="NexioTransactionCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">NexioCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">AuthorizeTransferFactory</argument>
            <argument name="client" xsi:type="object">Nexio\Payment\Gateway\Http\Client\TransactionAuthorize</argument>
            <argument name="validator" xsi:type="object">Nexio\Payment\Gateway\Validator\ResponseValidator</argument>
            <argument name="handler" xsi:type="object">NexioTransactionHandler</argument>
        </arguments>
    </virtualType>
    <!--<virtualType name="NexioRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">NexioRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">NexioRefundTransferFactory</argument>
            <argument name="client" xsi:type="object">Nexio\Payment\Gateway\Http\Client\TransactionRefund</argument>
            <argument name="validator" xsi:type="object">Nexio\Payment\Gateway\Validator\ResponseValidator</argument>
            <argument name="handler" xsi:type="object">NexioRefundHandler</argument>
        </arguments>
    </virtualType>-->
    <virtualType name="NexioAuthorizeCommand" type="NexioTransactionCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">NexioAuthorizeRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioCaptureCommand" type="NexioTransactionCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">NexioCaptureRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioGetOneTimeUseTokenCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">NexioGetOneTimeUseTokenRequest</argument>
            <argument name="transferFactory" xsi:type="object">GetOneTimeUseTokenTransferFactory</argument>
            <argument name="client" xsi:type="object">Nexio\Payment\Gateway\Http\Client\TransactionGetOneTimeUseToken</argument>
        </arguments>
    </virtualType>
    <!-- End Commands-->

    <!-- Request Builder -->
    <type name="Nexio\Payment\Gateway\Request\AbstractDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">NexioConfig</argument>
        </arguments>
    </type>

    <virtualType name="NexioAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="data" xsi:type="string">Nexio\Payment\Gateway\Request\AuthorizeDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="data" xsi:type="string">Nexio\Payment\Gateway\Request\CaptureDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="NexioGetOneTimeUseTokenRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="data" xsi:type="string">Nexio\Payment\Gateway\Request\GetOneTimeUseTokenDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!--<virtualType name="NexioRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="data" xsi:type="string">Nexio\Payment\Gateway\Request\RefundDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>-->
    <!-- End Request Builder-->

    <!-- Transfer Factory-->
    <type name="Nexio\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">NexioConfig</argument>
        </arguments>
    </type>
    <virtualType name="AuthorizeTransferFactory" type="Nexio\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="action" xsi:type="const">Nexio\Payment\Gateway\Http\TransferFactory::ACTION_AUTHORIZE</argument>
        </arguments>
    </virtualType>
    <!--<virtualType name="NexioRefundTransferFactory" type="Nexio\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="action" xsi:type="const">Nexio\Payment\Gateway\Http\TransferFactory::ACTION_REFUND</argument>
        </arguments>
    </virtualType>-->
    <virtualType name="GetOneTimeUseTokenTransferFactory" type="Nexio\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="action" xsi:type="const">Nexio\Payment\Gateway\Http\TransferFactory::GET_ONE_TIME_USE_TOKEN</argument>
        </arguments>
    </virtualType>
    <!-- End Transfer Factory-->
</config>


