<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="nexio" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Nexio Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="is_test" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Is Test Environment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="test_username" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Test Username</label>
                    <depends>
                        <field id="is_test">1</field>
                    </depends>
                </field>
                <field id="test_password" translate="label" type="obscure" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Test Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="is_test">1</field>
                    </depends>
                </field>
                <field id="test_endpoint" translate="label" type="text" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Test Endpoint</label>
                    <depends>
                        <field id="is_test">1</field>
                    </depends>
                </field>
                <field id="username" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Username</label>
                    <depends>
                        <field id="is_test">0</field>
                    </depends>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="90" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="is_test">0</field>
                    </depends>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Endpoint</label>
                    <depends>
                        <field id="is_test">0</field>
                    </depends>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Merchant ID</label>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="145" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>Nexio\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="custom_css" translate="label" type="text" sortOrder="165" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Custom CSS url</label>
                </field>
                <field id="custom_textfile" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Custom text file</label>
                </field>
                <field id="fraud_check" translate="label" type="select" sortOrder="175" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Fraud check</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="require_cvc" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Require CVC</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hide_cvc" translate="label" type="select" sortOrder="185" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Hide CVC</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hide_billing" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Hide Billing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auth_only" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Auth Only</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="verify_signature" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Verify Signature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="nexio_vault_active" translate="label" type="select" sortOrder="125" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Allow Save Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/nexio_vault/active</config_path>
                </field>
            </group>
        </section>
    </system>
</config>


